In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

# Base de données Airbnb cleaned

In [2]:
df_airbnb = pd.read_csv('data_cleaned.csv',index_col=0)
df_airbnb[df_airbnb.columns[:10]].head()

,ID,Name,Summary,Space,Neighborhood Overview,Notes,Transit,Interaction,Host Since,Host Verifications
0,5380461,"Roland Garros, Appart. 2 p. avec balcon, Auteuil.","Appart. ascenc. 1 ch. avec lit double, cuisine...",L'appartement est situé dans le quartier résid...,"J'apprécie le côté résidentiel du quartier, ca...",Nombreux commerces et restaurants à proximité.,Vous pourrez accéder à l'appartement par les l...,Je souhaite louer mon appartement à des person...,2015-02-17,"email,phone,reviews"
1,12994171,APARTMENT 100 M2,location trocadero Passy very well located ans...,la situation et la tranquillité ainsi que l'ac...,situation à 5 min à pied de la tour Eiffel et ...,NaN,métro à 3 min à pied,si vous avez des besoins particuliers ...cours...,2016-05-12,"email,phone,reviews"
2,16270986,Appartement familial église d'auteuil,"Mon logement est proche de Beaugrenelle Paris,...",NaN,NaN,NaN,NaN,NaN,2016-10-25,"email,phone,facebook,reviews"
3,16267918,Studio 25m2 16e arrondissement,Petit studio situé dans le 16 e arrondissement...,NaN,"Boulangerie, coiffeur, Franprix etc",NaN,Bus 72 et 22 arrêt victorien Sardou Météo lig...,NaN,2015-12-11,"email,phone,reviews"
4,8531724,Cosy and bright flat,"Nice flat, recently renovated, bright and cosy...",The flat is in the 4th floor of a secure build...,The area is very pleasant and chic. It is both...,The bedsheets and towels are included in the r...,The flat is very well located for transportati...,I will welcome you in the flat to give you the...,2014-01-28,"email,phone,reviews"

In [3]:
df_airbnb[df_airbnb.columns[10:20]].head()

,Neighbourhood Cleansed,Property Type,Room Type,Accommodates,Bathrooms,Bedrooms,Beds,Bed Type,Amenities,Price
0,Passy,Apartment,Entire home/apt,2,1.0,1.0,1.0,Real Bed,"TV,Internet,Wireless Internet,Kitchen,Elevator...",50.0
1,Passy,Apartment,Entire home/apt,5,2.0,2.0,2.0,Real Bed,"TV,Cable TV,Internet,Wireless Internet,Wheelch...",250.0
2,Passy,Apartment,Entire home/apt,7,1.5,2.0,5.0,Real Bed,"TV,Wireless Internet,Air conditioning,Kitchen,...",165.0
3,Passy,Apartment,Entire home/apt,2,1.0,0.0,1.0,Real Bed,"TV,Internet,Wireless Internet,Kitchen,Elevator...",35.0
4,Passy,Apartment,Entire home/apt,4,1.0,1.0,2.0,Real Bed,"TV,Internet,Wireless Internet,Kitchen,Elevator...",90.0

In [4]:
df_airbnb[df_airbnb.columns[20:30]].head()

,Security Deposit,Cleaning Fee,Guests Included,Extra People,Calendar Updated,Availability 60,Review Scores Accuracy,Review Scores Cleanliness,Review Scores Checkin,Review Scores Communication
0,500.0,30.0,1,0,4 days ago,15,7.0,8.0,9.0,9.0
1,750.0,90.0,4,15,today,28,10.0,10.0,10.0,10.0
2,200.0,30.0,1,0,today,51,10.0,10.0,10.0,10.0
3,94.0,0.0,1,0,4 months ago,0,10.0,10.0,10.0,10.0
4,500.0,30.0,2,10,6 months ago,39,10.0,10.0,10.0,10.0

In [5]:
df_airbnb[df_airbnb.columns[30:]].head()

,Review Scores Location,Review Scores Value,Cancellation Policy,Reviews per Month,Geolocation,Features
0,10.0,7.0,flexible,0.16,"48.8445603313,2.26336692547","Host Has Profile Pic,Is Location Exact"
1,10.0,9.0,strict,0.56,"48.8580714183,2.28022090415","Host Has Profile Pic,Is Location Exact"
2,10.0,10.0,flexible,1.00,"48.8502032736,2.27083162889","Host Has Profile Pic,Is Location Exact,Instant..."
3,9.0,10.0,moderate,1.38,"48.8420130083,2.26885375663","Host Has Profile Pic,Is Location Exact"
4,10.0,10.0,moderate,0.35,"48.8410481577,2.25944805867","Host Has Profile Pic,Is Location Exact"

# Préparation des données

In [6]:
df = df_airbnb.copy()

## Colonne 'Calendar Updated'

<p>Calcul du nombre de jours depuis la dernière mise à jour du calendrier
Résultat : nombre de jours depuis lequel la dernière mise à jour a été effectuée</p>

In [7]:
# Colonne que l'on va modifier
df_airbnb['Calendar Updated']

0          4 days ago
1               today
2               today
3        4 months ago
4        6 months ago
             ...
40039      a week ago
40040    8 months ago
40041      a week ago
40042           today
40043     3 weeks ago
Name: Calendar Updated, Length: 40044, dtype: object

In [8]:
def Calendar_Update_toint(sentence: str) -> int:
    """
    renvoie le nombre de jours depuis la dernière mise à jour du calendrier
    """
    sentence = sentence.strip().lower()
    if sentence == "today":
        return 0
    if sentence == "yesterday":
        return 1
    try:
        number = int(sentence.split()[0])
    except ValueError:
        number = 1 if (sentence.split()[0] == "a") else None
    if "days" in sentence:
        return number
    if "week" in sentence:
        return number * 7
    if "month" in sentence:
        return number * 30
    else:
        return None

In [9]:
df_airbnb['Calendar Updated'].apply(Calendar_Update_toint)

0          4.0
1          0.0
2          0.0
3        120.0
4        180.0
         ...
40039      7.0
40040    240.0
40041      7.0
40042      0.0
40043     21.0
Name: Calendar Updated, Length: 40044, dtype: float64

In [10]:
df['Calendar Updated'] = df['Calendar Updated'].apply(Calendar_Update_toint)

## Colonne 'Host since'

Le but est de transformer les dates auxquelles l'hôte s'est inscrit, en une colonne donnant le nombre de jours écoulés depuis l'inscription de l'hôte. 
<=> Depuis combien de jours l'hôte est-il inscrit ?

In [11]:
from datetime import datetime

In [12]:
df_airbnb['Host Since']

0        2015-02-17
1        2016-05-12
2        2016-10-25
3        2015-12-11
4        2014-01-28
            ...
40039    2014-08-13
40040    2014-11-10
40041    2015-03-10
40042    2012-12-19
40043    2016-09-22
Name: Host Since, Length: 40044, dtype: object

In [13]:
# Création d'une liste qui soustraie la date d'aujourd'hui à la date à laquelle l'hôte s'est inscrit 
# Retourne le nombre jours correspondant pour chaque hôte, dans une liste 

def Host_Since_toint(date_inscription) -> int:
    """Renvoit l'ancienneté à la date du 2020/04/15"""
    
    today = datetime.strptime('2020/04/15',"%Y/%m/%d") 
    try:
        delta = today - date_inscription
        return delta.days
    except:
        return date_inscription

In [14]:
# Conversion de la colonne 'Host since' en date
df_airbnb['Host Since'] =  pd.to_datetime(df_airbnb['Host Since'])

In [15]:
df_airbnb['Host Since'].apply(Host_Since_toint)

0        1884.0
1        1434.0
2        1268.0
3        1587.0
4        2269.0
          ...
40039    2072.0
40040    1983.0
40041    1863.0
40042    2674.0
40043    1301.0
Name: Host Since, Length: 40044, dtype: float64

In [16]:
df['Host Since'] =  pd.to_datetime(df['Host Since'])

In [17]:
df['Host Since'] = df['Host Since'].apply(Host_Since_toint)

## Colonne 'Amenities'

Le but est de compter le nombre d'Amenities mentionné dans l'annonce. Comme recoder toutes les valeurs de Amenities en variable semble trop lourd (il y a jusqu'à une vingtaine d'Amenities mentionnées pour certaines annonces), nous allons créer une variable qui va compter le nombre d'Amenities mentionné dans l'annonce de chaque appartement Airbnb.

In [18]:
def count(sentence : str) -> int:
    """Retourne le nombre d'Amenities"""
    try:
        return len(sentence.strip().split(','))
    except AttributeError:
        if isinstance(df.Amenities[0], np.int64):
            return sentence
        #si c'est un nan
        else:
            print()
            return 0

In [19]:
df_airbnb['Amenities'].value_counts()

TV,Cable TV,Internet,Wireless Internet,Kitchen,Heating,Family/kid friendly,Washer,Smoke detector,Carbon monoxide detector,Essentials,Shampoo,24-hour check-in,Hangers,Hair dryer,Iron,Laptop friendly workspace                                                                                                50
TV,Cable TV,Internet,Wireless Internet,Kitchen,Heating,Family/kid friendly,Washer,Dryer,Smoke detector,Carbon monoxide detector,Essentials,Shampoo,24-hour check-in,Hangers,Hair dryer,Iron,Laptop friendly workspace                                                                                          48
TV,Cable TV,Internet,Wireless Internet,Kitchen,Elevator in building,Buzzer/wireless intercom,Heating,Family/kid friendly,Washer,Dryer,Smoke detector,Carbon monoxide detector,Essentials,Shampoo,24-hour check-in,Hangers,Hair dryer,Iron,Laptop friendly workspace                                            47
TV,Internet,Wireless Internet,Kitchen,Heating,Washer,Essentials                                                                                                                                                                                                                                                47
Internet,Wireless Internet,Kitchen,Heating,Washer,Essentials                                                                                                                                                                                                                                                   43
                                                                                                                                                                                                                                                                                                               ..
Internet,Wireless Internet,Wheelchair accessible,Kitchen,Pets live on this property,Cat(s),Elevator in building,Buzzer/wireless intercom,Heating,Family/kid friendly,Washer,First aid kit,Essentials,Shampoo,Hangers,Hair dryer,Iron,Laptop friendly workspace,translation missing: en.hosting_amenity_50       1
Kitchen,Elevator in building,Buzzer/wireless intercom,Heating,Family/kid friendly,Washer,Smoke detector,Essentials,Shampoo                                                                                                                                                                                      1
TV,Internet,Wireless Internet,Kitchen,Elevator in building,Buzzer/wireless intercom,Heating,Family/kid friendly,Smoke detector,Carbon monoxide detector,Fire extinguisher,Essentials,Shampoo,24-hour check-in,Hangers,Hair dryer,Iron,Laptop friendly workspace                                                 1
TV,Cable TV,Internet,Wireless Internet,Air conditioning,Kitchen,Smoking allowed,Pets allowed,Heating,Family/kid friendly,Washer,Dryer,Essentials,Hangers,Hair dryer,Iron,Laptop friendly workspace                                                                                                              1
TV,Cable TV,Internet,Wireless Internet,Kitchen,Elevator in building,Heating,Family/kid friendly,Washer,Dryer,Smoke detector,Carbon monoxide detector,First aid kit,Safety card,Fire extinguisher,Essentials,Shampoo,Lock on bedroom door,Hangers,Hair dryer,Iron,Laptop friendly workspace,Private entrance     1
Name: Amenities, Length: 31692, dtype: int64

In [20]:
df_airbnb['Amenities'].apply(count)

0        14
1        23
2        19
3        13
4        15
         ..
40039    19
40040    15
40041    15
40042    10
40043    11
Name: Amenities, Length: 40044, dtype: int64

In [21]:
df['Amenities'] =  df['Amenities'].apply(count)

## Colonne 'Host verifications'

Le but est de compter le nombre d'éléments que l'hôte a fourni a Airbnb, qui prouvent son identité.

In [22]:
# Comptage du nombre de Host verifications; sur la base d'un comptage du nb de string séparés par des virgules
# Retourne pour chaque annonce, le nombre de documents vérifiés par Airbnb et prouvant l'identité de l'Host, 
    #dans une liste 

nb_verifications = []

for i in range(len(df['Host Verifications'])):
    verifications_count = len(str(df['Host Verifications'][i]).split(','))
    nb_verifications.append(int(verifications_count))

print (nb_verifications[0:10])

[3, 3, 4, 3, 3, 4, 4, 4, 5, 3]

In [23]:
df_airbnb['Host Verifications']

0                             email,phone,reviews
1                             email,phone,reviews
2                    email,phone,facebook,reviews
3                             email,phone,reviews
4                             email,phone,reviews
                           ...
40039                email,phone,facebook,reviews
40040                   email,phone,reviews,jumio
40041                         email,phone,reviews
40042     email,phone,reviews,jumio,government_id
40043    email,google,reviews,jumio,government_id
Name: Host Verifications, Length: 40044, dtype: object

In [24]:
df_airbnb['Host Verifications'].apply(count)

0        3
1        3
2        4
3        3
4        3
        ..
40039    4
40040    4
40041    3
40042    5
40043    5
Name: Host Verifications, Length: 40044, dtype: int64

In [25]:
df['Host Verifications'] =  df['Host Verifications'].apply(count)

## Colonne de texte supprimé

In [26]:
df = df.drop(columns=['ID','Name','Summary','Space','Neighborhood Overview','Notes','Transit','Interaction'])

## Encoding des variables qualitatives

Transformation des modalités de la variable 'Room Type'. La nouvelle variables 'Type of Room' est créée, avec les modalités suivantes : 
' ' => 0
'Shared Room' => 1 
'Private Room' => 2
'Entire home/apt' => 3

In [27]:
df_airbnb['Room Type'].value_counts()

Entire home/apt    34740
Private room        4927
Shared room          377
Name: Room Type, dtype: int64

In [28]:
def Room_type_toint(room: str) -> int:
    """
    ranking des types de room
    """
    try:
        dico = {
            "Entire home/apt" : 3,
            "Private room" : 2,
            "Shared room" : 1
        }
    
        return dico[room.strip()]
    except:
        return room

In [29]:
df_airbnb['Room Type'].apply(Room_type_toint).value_counts()

3    34740
2     4927
1      377
Name: Room Type, dtype: int64

In [30]:
df['Room Type'] = df['Room Type'].apply(Room_type_toint)

# Bed Type

In [31]:
df_airbnb['Bed Type'].value_counts()

Real Bed         35659
Pull-out Sofa     3366
Couch              706
Futon              293
Airbed              20
Name: Bed Type, dtype: int64

In [32]:
def Bed_type_toint(bed: str) -> int:
    """
    ranking des types de room
    """
    try:
        dico = {
            "Airbed" : 1,
            "Couch" : 2,
            "Futon" : 3,
            "Pull-out Sofa": 4,
            "Real Bed": 5
        }
    
        return dico[bed.strip()]
    except:
        return room

In [33]:
df_airbnb['Bed Type'].apply(Bed_type_toint).value_counts()

5    35659
4     3366
2      706
3      293
1       20
Name: Bed Type, dtype: int64

In [34]:
df['Bed Type'] =  df['Bed Type'].apply(Bed_type_toint)

# Cancellation Policy

In [35]:
df_airbnb["Cancellation Policy"].value_counts()

strict             15634
moderate           13032
flexible           11374
super_strict_30        4
Name: Cancellation Policy, dtype: int64

In [36]:
def CP_toint(cp: str) -> int:
    """
    ranking des politiques d'annulations
    """
    try:
        dico = {
            "flexible" : 1,
            "moderate" : 2,
            "strict" : 3,
            "super_strict_30": 4,
        }
    
        return dico[cp.strip()]
    except:
        return room

In [37]:
df_airbnb['Cancellation Policy'].apply(CP_toint).value_counts()

3    15634
2    13032
1    11374
4        4
Name: Cancellation Policy, dtype: int64

In [38]:
df['Cancellation Policy'] = df['Cancellation Policy'].apply(CP_toint)

# Neighboorhood Cleansed -> Arrondissement

In [69]:
# insert code

 # Drop des colonnes textuels : 
 
 > ID 	Name 	Summary 	Space 	Neighborhood Overview 	Notes 	Transit 	Interaction

## -> nouveau dataframe "data_cleanedV3.csv"

# 2ème Partie
## Enrichissement des donnés avec les points d'intérêt se trouvant dans Paris :
> http://tour-pedia.org/about/datasets.html

# Calcul des distances entre les appartements et les lieux touristiques

In [39]:
import numpy as np

## formattage du dataframe sur les points d'intérêt

In [58]:
df_tourisme = pd.read_csv("paris-poi.csv")

In [59]:
def isfloat(name):
  try:
    float(name)
    return None
  except ValueError:
    return name

In [60]:
df_tourisme['name'] = df_tourisme['name'].apply(isfloat)

In [61]:
df_tourisme = df_tourisme.dropna(subset=["name"]).drop_duplicates(subset=['name'])

In [62]:
df_tourisme = df_tourisme.drop(columns=['id','location','category','polarity','originalId', 'details','reviews'])

In [63]:
df_tourisme['lng'] = df_tourisme['lng'].astype(float)
df_tourisme['lat'] = df_tourisme['lat'].astype(float)

In [64]:
df_tourisme[df_tourisme["subCategory"] == "Road"]

,address,lat,lng,name,subCategory
20,Boulevard Auguste Blanqui,48.831348,2.343436,Boulevard Auguste Blanqui,Road
21,Boulevard Mortier,48.871116,2.408845,Boulevard Mortier,Road
22,Boulevard de Port-Royal,48.837422,2.346826,Boulevard de Port-Royal,Road
23,Rue du Télégraphe,48.873708,2.399255,Rue du Télégraphe,Road
25,Avenue d’Italie,48.825387,2.357490,Avenue d’Italie,Road
...,...,...,...,...,...
1855,NaN,48.881269,2.373325,Rue De Meaux,Road
1857,NaN,48.871659,2.403554,Avenue de la Porte de Ménilmontant,Road
1858,NaN,48.888160,2.379960,Rue Tandou,Road
1859,NaN,48.853028,2.410737,Rue des Rasselins,Road
1887,NaN,48.873944,2.268108,allée de Longchamp,Road

In [65]:
df_tourisme.subCategory.value_counts()

Road                            317
Government Building             186
Subway                          156
Doctor's Office                 140
Bus Station                     126
Medical Center                  115
Bike Rental / Bike Share         74
Bus Line                         58
Hospital                         48
Dentist's Office                 43
Convention Center                41
Light Rail                       38
Police Station                   38
Library                          35
Embassy / Consulate              28
Train Station                    28
Meeting Room                     27
Boat or Ferry                    27
Parking                          26
Monument / Landmark              21
City Hall                        18
Fire Station                     16
Laboratory                       15
Rental Car Location              13
Veterinarian                     12
General Travel                   12
Courthouse                       11
Office                           11
Capitol Building                  9
Emergency Room                    8
Event Space                       5
Rest Area                         4
Moving Target                     2
Building                          2
Conference Room                   2
Travel Lounge                     2
Taxi                              2
Gym                               1
Cemetery                          1
Airport                           1
Miscellaneous Shop                1
Train                             1
Pier                              1
General College & University      1
College Science Building          1
Park                              1
Hotel                             1
Harbor / Marina                   1
Housing Development               1
Bridal Shop                       1
Student Center                    1
College Library                   1
Historic Site                     1
Eye Doctor                        1
Home (private)                    1
Name: subCategory, dtype: int64

In [66]:
df['lat'] = df.Geolocation.apply(lambda x : float(x.split(',')[0]))

In [67]:
df['lon'] = df.Geolocation.apply(lambda x : float(x.split(',')[1]))

#### df_tourisme - > paris_poi.csv

# Valeur de conversion géodésique -> km : 77.14017896147689 km/geod

obtenu depuis google maps à Paris

In [50]:
df_v3 = pd.read_csv('data_cleanedV3.csv', index_col=0)

In [51]:
df_v3

,District,Accommodates,Bathrooms,Bedrooms,Beds,Price,Security Deposit,Cleaning Fee,Guests Included,Extra People,...,Type of property,Type of Room,Real Bed,Cancellation_Policy,Superhost,Host profile pic,Host ID verified,Instant bookable,lat,lon
0,17,4,1.0,1.0,1.0,60.0,300.0,15.0,1,0,...,3,3,1,3,0,1,1,1,48.844560,2.263367
1,17,6,1.0,2.0,2.0,160.0,800.0,40.0,1,0,...,3,3,1,1,0,1,1,1,48.858071,2.280221
2,17,4,1.0,2.0,2.0,120.0,500.0,15.0,1,0,...,3,3,1,1,0,1,0,0,48.850203,2.270832
3,17,4,1.0,1.0,2.0,120.0,800.0,40.0,2,20,...,3,3,1,3,0,1,1,0,48.842013,2.268854
4,17,4,1.0,1.0,2.0,54.0,200.0,25.0,1,5,...,3,3,1,2,0,1,1,0,48.841048,2.259448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40039,8,5,2.0,3.0,5.0,160.0,500.0,30.0,2,25,...,3,3,1,2,1,1,0,0,48.861968,2.401986
40040,8,4,1.0,0.0,2.0,55.0,150.0,0.0,2,10,...,3,3,1,3,0,1,0,0,48.866443,2.396434
40041,8,2,1.0,1.0,1.0,50.0,0.0,0.0,1,20,...,3,2,1,2,0,1,0,0,48.866367,2.394734
40042,8,4,2.0,2.0,2.0,150.0,500.0,40.0,1,0,...,3,3,1,2,1,1,0,0,48.868071,2.398003
40043,8,7,1.5,3.0,5.0,125.0,500.0,50.0,1,0,...,3,3,1,3,0,1,1,0,48.870883,2.398600

In [52]:
df_tourisme = pd.read_csv("paris_poi.csv", index_col=0)

In [53]:
df_tourisme

,address,lat,lon,name,subCategory
0,23 Quai Anatole France,48.862078,2.322534,Concorde Atlantique,Boat or Ferry
1,17 Place du Trocadéro,48.862301,2.288225,Palais de Chaillot,Monument / Landmark
2,Quai François Mauriac,48.833679,2.375686,Bibliothèque Nationale de France (BNF),Library
3,Place Charles de Gaulle,48.873797,2.294952,Arc de Triomphe,Monument / Landmark
4,4 Boulevard du Palais,48.855920,2.344637,Palais de Justice de Paris,Courthouse
...,...,...,...,...,...
1729,159 Boulevard Malesherbe,48.885632,2.306501,Cabinet Dentaire - Dr Cadet & Dr Bertrant,Dentist's Office
1730,10 Rue Civiale,48.871437,2.374117,cabinet paramedical civiale,Medical Center
1731,Rue Pajol,48.866977,2.353663,Bibliothèque Vaclav Havel,Library
1732,10 Rue Louis-Blanc,48.879165,2.369245,Consulat Chaoui - Paris X,Embassy / Consulate
1733,6-8 boulevard Haussmann,48.872316,2.338747,Bpifrance,Government Building

In [54]:
def nearest(df_, i, df_t, n:int):
    
    """
    return the index in df_t of the "n" neareast and their distances
    in the form (distances, indices)
    """
    x = np.array([df_['lat'][i], df_['lon'][i]])
    ys = np.array(list(zip(df_t['lat'],  df_t['lon'])))
    #distances in km
    distances = np.linalg.norm(x - ys, axis=1) * 77.14017896147689
    indices = distances.argsort()[:n]
    
    return distances[indices], indices

In [55]:
nearest(df_v3, 10, df_tourisme, 10)

(array([0.02523825, 0.07006371, 0.07302485, 0.13816779, 0.14772719,
        0.15944062, 0.18202589, 0.21581155, 0.24174218, 0.24667003]),
 array([1346,  165, 1029,  278,   42,  982,  659,  598,   66,  389],
       dtype=int64))

In [56]:
def POIs_radius(df_, i:int, df_t, r):
    """
    return the index in df_t of the POIs in a radius of "r" km alongside their distance
    in the form (distances, indice)
    """
    x = np.array([df_['lat'][i], df_['lon'][i]])
    ys = np.array(list(zip(df_t['lat'],  df_t['lon'])))
    #distances in km
    distances = np.linalg.norm(x - ys, axis=1) * 77.14017896147689
    # le nombre de poi dans un rayon de r
    n = len(distances[distances < r])
    indices = distances.argsort()[:n]

    return distances[indices], indices

In [57]:
POIs_radius(df_v3, 10, df_tourisme, 0.25)

(array([0.02523825, 0.07006371, 0.07302485, 0.13816779, 0.14772719,
        0.15944062, 0.18202589, 0.21581155, 0.24174218, 0.24667003]),
 array([1346,  165, 1029,  278,   42,  982,  659,  598,   66,  389],
       dtype=int64))